{% extends 'headerAdmin.njk' %}

{% block content %}
<section class="card-recipes">
  <form
    class="form-recipes"
    method="post"
    action="/admin/chefs"
  >

    <header class="form-header">
      <h2>Criar Chef</h2>
      <button type="submit">Salvar receita</button>
    </header>

    {% include "admin/chefs/fields.njk" %}

  </form>

</section>

{% endblock content %}