{% extends 'headerAdmin.njk' %}

{% block content %}
<section class="card-recipes">
   
  <div class="form-recipes">
  
    <header class="form-header">
    
      <div>
        <h2>Editar chef</h2>
      </div>
      
      <div class="buttons-delete-salve">
        
        <form id="form-delete" method="post" action="/admin/chefs?_method=DELETE" >
          <button type="submit" id="button-delete">Deletar</button>
          <input type="hidden" name="id" value="{{chef.id}}">
        </form>
        
        <button type="submit" form="post">Salvar chef</button>

      </div>
      
    </header>

    <form id="post" method="POST" action="/admin/chefs?_method=PUT">
      {% include "admin/chefs/fields.njk" %}
      <input type="hidden" name="id" value="{{chef.id}}">
    </form>

  </div>
</section>

{% endblock content %}