{% block content %}

<div class="form-items">
  <div>Nome</div>
  <input type="text" class="input" id="chef" name="name" values="{{chef.name}}" placeholder="{{chef.name}}"/>
</div>

<div class="form-items">
  <div>Avatar</div>
  <div class="form-item-image">
    <div class="avatar-upload">
    <label for="avatar-input">
      Enviar Avatar
    </label>
      <input
        id="avatar-input"
        type="file"
        name="avatar"
        accept="image/*"
        values="{{fileChef.name}}"
        onchange="PhotosUpload.handleImageInput(event)">
    </div>
  </div>
</div>

{% endblock content %}