{% extends "headerAdmin.njk" %}

{% block content %}
  <main class="card-chefs">
    
    <header class="header_chefs">
      <h2>Gerencoiar chefs</h2>
      <a href="/admin/chefs/create" class="button_create">Criar chef</a>
    </header>

    <div id="grid-chefs">
      {% for chef in chefs %}
        <article class="chef-item">
          <div class="image-chef"> 
            <img src="{{chef.src}}" alt="{{chef.name}}">
          </div>
          <div class="details-chef">
            <div class="chef-name">{{chef.name}}</div>
            <a href="/admin/chefs/{{chef.id}}" id="{{chef.id}}">Visualizar</a>
          </div>
        </article>        
      {% endfor %}
    </div>
  </main>

{% endblock %}
