{% extends "layout.njk" %}

{% block head %}
    <title>recipes - Foodfy</title>
{% endblock %}

{% block content %}
    <article class="more-recipes">
        <div class="cards">
            {% for item in items %}
                <div class="card" id = "{{item.id}}">
                    <div class="image-recipe">
                        <img src="{{item.image}}"/>
                    </div>
                    <h3 class="subtitle">{{item.title}}</h3>
                    <p class="author">{{item.author}}</p>
                </div>
            {% endfor %}
            {% for item in items %}
                <div class="card" id = "{{item.id}}">
                    <div class="image-recipe">
                        <img src="{{item.image}}"/>
                    </div>
                    <h3 class="subtitle">{{item.title}}</h3>
                    <p class="author">{{item.author}}</p>
                </div>
            {% endfor %}
        </div>    
    </article>

    <footer>
        <h3>Todos direitos reservados, receitas Foodfy.</h3>
    </footer>

    <script src="/script.js"></script>

{% endblock %}