{% extends "layout.njk" %}

{% block content %}
  
  <div id="image-recipe">
    <img src="{{items.image}}" alt="{{items.title}}">
  </div>
  
  <article class="recipe-title">
    <h1>{{items.title}}</h1>
    <h2>por {{items.author}}</h2>
  </article>

  <main class="recipe-main">
    
    <div id="ingredient">
      <div class="flex-teme">
        <h2>Ingredientes</h2>  
        <h3 class="buttom-ingredient">Esconder</h3>
      </div>
        <ul>
        {% for ingredient in items.ingredients %}
          <li class="content-ingredient">{{ingredient}}</li>
        {% endfor %}
        </ul>
    </div>
    
    <div id="preparation">
      <div class="flex-teme">
        <h2>Modo de Preparo</h2>  
        <h3 class="buttom-preparation">Esconder</h3>
      </div>
        <ul>
        {% for preparation in items.preparation %}
          <li class="content-preparation">{{preparation}}</li>
        {% endfor %}
        </ul>
    </div>
    
    <div id="information">
      <div class="flex-teme">
        <h2>Informações adicionais</h2>  
        <h3 class="buttom-information">Esconder</h3>
      </div>
      <div>
        <p class="content-information">{{items.information}}</p>
      </div>
  </main>

  <footer>
    <h3>Todos direitos reservados, receitas Foodfy.</h3>
  </footer>

  {% include 'scriptShow.njk' %}

{% endblock  %}
