@import 'https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext';
@import 'https://fonts.googleapis.com/css?family=Roboto&display=swap';

*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    max-width: 1024px;
}
header{
    margin-top: 20px;
    margin-bottom: 40px;
}
header .foodfy{
    text-align: left;
    position: absolute;
    left: 15vw;
}
header a{
    text-decoration: none;
    color: #000000;
}
.sobre{
    margin-right: 2vw;
}
.sobre, .receitas{
    font-size: 12pt;
    font-family: 'Roboto-regular', sans-serif;
}

.artCenter{
    background: #FBDFDB;
    border-radius: 30px;
    margin: auto 30vh 10vh;
    position: relative;
    width: 92%;
    height: 400px;
}
.text{
    text-align: left;
    position: absolute;
    margin: 14% 40% 11.6% 4.3%;
    left: 3vw;
}
main h2{
    font-size: 32px;
    font-family: 'Roboto-bold', sans-serif;
    margin-bottom: 10px;
}
main p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);    
    line-height: 28px;
    max-width: 350px;
}
.image{
    position: absolute;
    bottom: 0;
    right: 8%;
}

article h2{
    color: #111111;
    font-size: 24px;
    font-family: 'Roboto-Bold', sans-serif;
    text-align: left;
    margin: auto auto auto 15vw;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2vh 15vw;
    gap: 20px;
}
article .card{
    text-align: left;
    line-height: 16pt;
}
.card img{
    border-radius: 15px;
    width: 300px;
    margin: 2vh auto;
}
.card h3{
    color: #111111;
    font-size:18px;
    font-family: 'Roboto', sans-serif;
}
.card p{
    font-size: 14px;
    color: #777777;
    font-family: 'Roboto-Regular', sans-serif;
}

footer{
    background: #eeeeee;
}