{% extends 'layout.njk' %}

{% block header %}
  <header id="header-admin">
    <div id="logo-foodfy-admin">
      <img src="/logo1.png" alt="Logo Foodfy em branco">
    </div>
  </header>

{% endblock %}