{% extends 'layout.njk' %}

{% block header %}
  <header id="header-admin">
    <div id="logo-foodfy-admin">
      <a href="/admin/recipes">
        <img src="/logo1.png" alt="Logo Foodfy em branco">
      </a>
    </div>
  </header>

{% endblock %}