{% extends "layout.njk" %}}

{% block head %}
    <title>Foodfy</title>
{% endblock %}

{% block content %}    
    <main class="artCenter">
        <div class="text">
            <h2 id="titleIndex">As melhores receitas</h2>
            <p id="paragrafoCenter">
                Aprenda a construir os melhores pratos
                com receitas criadas por profissionais
                do mundo inteiro.
            </p>
        </div>
        <div class="image">
            <img src="/chef.png" alt="chefe Foodfy" id="chef"/>
        </div>
    </main>

    <article class="maisReceitas">
        <h2 class="mais-receitas">Mais acessadas</h2>
        <div class="cards">
            {% for item in items.index %}
                <div class="card" id="{{item.id}}">
                    <img src="{{item.id}}"/>
                    <h3 class="subTitle">{{item.title}}</h3>
                    <p class="author">{{item.author}}</p>
                </div>
            {% endfor %}
    </article>
    

    <footer>
        <h3>Todos direitos reservados, receitas Foodfy.</h3>
    </footer>

    <script src="/script.js"></script>

{% endblock %}