{% extends "layout.njk" %}}

{% block content %}    
    <main class="artCenter">
        <div class="text">
            <h2 id="titleIndex">As melhores receitas</h2>
            <p id="paragrafoCenter">
                Aprenda a construir os melhores pratos
                com receitas criadas por profissionais
                do mundo inteiro.
            </p>
        </div>
        <div class="image">
            <img src="/chef.png" alt="chefe Foodfy" id="chef"/>
        </div>
    </main>

    <article class="maisReceitas">
        <h2 class="mais-receitas">Mais acessadas</h2>
        <div class="cards">

            <div class="card" id="/burger.png">
                <img src="/burger.png"/>
                <h3 class="subTitle">Triplo bacon burger</h3>
                <p class="author">por Jorge Relato</p>
            </div>

            <div class="card" id="/pizza.png">
                <img src="/pizza.png"/>
                <h3 class="subTitle">Pizza 4 estações</h3>
                <p class="author">por Fabiana Melo</p>
            </div>

            <div class="card" id="/espaguete.png">
                <img src="/espaguete.png"/>
                <h3 class="subTitle">Espaguete ao alho</h3>
                <p class="author">por Júlia Kinoto</p>
            </div>

            <div class="card" id="/lasanha.png">
                <img src="/lasanha.png"/>
                <h3 class="subTitle">Lasanha mac n’ cheese</h3>
                <p class="author">por Juliano Vieira</p>
            </div>

            <div class="card" id="/doce.png">
                <img src="/doce.png"/>
                <h3 class="subTitle">Docinhos pão-do-céu</h3>
                <p class="author">por Ricardo Golvea</p>
            </div>

            <div class="card" id="/asinhas.png">
                <img src="../asinhas.png"/>
                <h3 class="subTitle">Asinhas de frango ao barbecue</h3>
                <p class="author">por Vania Steroski</p>
            </div>
        </div>

    </article>
    
    <article class="modalOverlay">
        <div class="modal">
            <a class="closeModal">Fechar Modal</a>
            <div class="modalContent">
                <img src="" class="iframe">
                <h3 class="titleLegend"></h3>
                <p class="authorLegend"></p>
            </div>
        </div>
    </article>

    <footer>
        <h3>Todos direitos reservados, receitas Foodfy.</h3>
    </footer>

    <script src="/script.js"></script>

{% endblock %}