<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    
    {% block head %}{% endblock %}
    
</head>
<body>
    {% block header %}
        <header>
            <nav class="navegacao">
                <a href="/exposed/index" class="foodfy">
                    <img src="/logo.png" alt="logo foodfy"/>
                </a>
                <a href="/exposed/about" class="navSobre">Sobre</a>
                <a href="/exposed/recipes" class="navReceitas">Receitas</a>
            </nav>
        </header>
    {% endblock %}
    {% block content %}{% endblock %}

    {% block scripts %}{% endblock  %}
</body>
</html>