{% extends "layout.njk" %}

{% block content %}

  <div class="card" id="{{item.id}}">
    <img src="{{item.id}}"/>
    <h3 class="subTitle">{{item.title}}</h3>
    <p class="author">{{item.author}}</p>
  </div>

{% endblock  %}