{% extends "layout.njk" %}

{% block head %}
    <title>recipes - Foodfy</title>
{% endblock %}

{% block content %}
    <article class="maisReceitas">
        
        <div class="cards">
        
            {% for item in items.recipes %} {# esta estrutura de repetição se refere a um objeto listado no server.js que está no render "recipes" #}
                <div class="card" id="{{item.id}}">
                    <img src="{{item.id}}"/>
                    <h3 class="subTitle">{{item.title}}</h3>
                    <p class="author">{{item.author}}</p>
                </div>
            {% endfor %}

        </div>

    </article>

    <footer>
        <h3>Todos direitos reservados, receitas Foodfy.</h3>
    </footer>

    <script src="/script.js"></script>

{% endblock %}