@import 'https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext';


*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    margin: auto;
}

header{
    text-align: left;
    margin: 4vh auto 7vh auto;
    width: 100%;
    max-width: 980px;
}
.navegacao{
    width: 100%;
    max-width: 980px;
}
header .navegacao .foodfy{
    position: absolute;
    left: 15%;
    margin: auto;
}
header a{
    text-decoration: none;
    color: #000000;
}
.navSobre{
    margin: auto 3% auto 30%;
}
.navSobre, .navReceitas{
    font-size: 12pt;
    font-family: 'Roboto-Regular', sans-serif;
}

.artCenter{
    width: 100%;
    max-width: 980px;
    background: #FBDFDB;
    border-radius: 30px;
    margin: auto 14% 10vh;
    position: relative;
    height: 400px;
}
.text{
    text-align: left;
    position: absolute;
    top: 40%;
    left: 3vw;
}
main #titleIndex{
    font-size: 32px;
    font-family: 'Roboto-bold', sans-serif;
    margin-bottom: 10px;
}
main #paragrafoCenter{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);    
    line-height: 28px;
    width: 45%;
}
.image{
    position: absolute;
    bottom: 0;
    right: 8%;
}

.maisReceitas{
    width: 100%;
    max-width: 980px;
}
article .mais-receitas{
    color: #111111;
    font-size: 24px;
    font-family: 'Roboto-Bold', sans-serif;
    text-align: left;
    margin: auto 20%;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2vh 20%;
    gap: 20px;
}
article .card{
    text-align: left;
    line-height: 16pt;
    cursor: pointer;
}
.card img{
    border-radius: 15px;
    width: 300px;
    margin: 2vh auto;
}
.card h3{
    color: #111111;
    font-size:18px;
    font-family: 'Roboto', sans-serif;
}
.card p{
    font-size: 14px;
    color: #777777;
    font-family: 'Roboto', sans-serif;
}

/*===SOBRE===*/
body .sobre{
    text-align: left;
    margin: auto 15vw;
    width: 100%;
    max-width: 980px;
}
/* body header nav a #navSobre{
    font-family: 'Roboto-Bold', sans-serif;
} */
.sobre #sobreFoodfy{
    font-size: 24px;
    font-family: 'Roboto-bold', sans-serif;
}
.sobre .sobreParagrafo{
    font-size: 18px;
    margin: 5vh auto;
    font-family: 'Roboto', sans-serif;
    color: #444444;
    line-height: 28px;
    width: 100%;
}
.sobre .sobreFoodfy{
    font-family: 'Roboto-bold', sans-serif;
    font-size: 20px;
}
.errH1{
    font-size: 50pt;
    border: 2px solid #606060;
    margin: auto 30%;
    padding: 2%;
}
.errH2{
    text-align: left;
    text-indent: 30%;
    margin: 30px auto;
}

/*===RODAPE===*/
footer{
    width: 100%;
    max-width: 1350px;
    margin-top: 15vh;
}
footer h3{
    background: #eeeeee;
    color: #999999;
    font-size: 14px;
    font-family: 'Roboto-Regular', sans-serif;
    padding: 23px;
}