@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --color-links-primary: #6558C3;
    --color-text-primary: #111111;
    --font-text-roboto: 'Roboto', sans-serif; 
}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    text-align: center;
    margin: auto;
}

header{
    max-width: 980px;
    width: 100%;
    padding: 32px 0px;
    height: 5vh;
}
.navegacao{
    width: 100%;
    max-width: 980px;
    font-family: var(--font-text-roboto);
    display: flex;
}
.navegacao a {
    color: var(--color-text-primary);
}
.navegacao a:first-child{
    margin: 0px 220px;
}
.navegacao a:last-child{
    margin-left: 32px;
}

.artCenter{
    width: 100%;
    max-width: 980px;
    background: #FBDFDB;
    border-radius: 30px;
    margin: auto 14% 10vh;
    position: relative;
    height: 400px;
}
.text{
    text-align: left;
    position: absolute;
    top: 40%;
    left: 3vw;
}
main #titleIndex{
    font-size: 32px;
    font-family: 'Roboto-bold', sans-serif;
    margin-bottom: 10px;
}
main #paragrafoCenter{
    font-family: var(--font-text-roboto);
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);    
    line-height: 28px;
    width: 45%;
}
.image{
    position: absolute;
    bottom: 0;
    right: 8%;
}

.maisReceitas{
    width: 100%;
    max-width: 980px;
}
article .mais-receitas{
    color: var(--color-text-primary);
    font-size: 24px;
    font-family: 'Roboto-Bold', sans-serif;
    text-align: left;
    margin: auto 20%;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2vh 20%;
    gap: 20px;
}
.card{
    text-align: left;
    line-height: 16pt;
    cursor: pointer;
}
.card img{
    border-radius: 15px;
    width: 300px;
    margin: 2vh auto;
}
.card h3{
    color: var(--color-text-primary);
    font-size:18px;
    font-family: var(--font-text-roboto);
}
.card p{
    font-size: 14px;
    color: #777777;
    font-family: var(--font-text-roboto);
}

/*===SOBRE===*/
body .sobre{
    text-align: left;
    margin: auto 15vw;
    width: 100%;
    max-width: 980px;
}
.sobre #sobreFoodfy{
    font-size: 24px;
    font-family: 'Roboto-bold', sans-serif;
}
.sobre .sobreParagrafo{
    font-size: 18px;
    margin: 5vh auto;
    font-family: var(--font-text-roboto);
    color: #444444;
    line-height: 28px;
    width: 100%;
}
.sobre .sobreFoodfy{
    font-family: 'Roboto-bold', sans-serif;
    font-size: 20px;
}
.errH1{
    font-size: 50pt;
    border: 2px solid #606060;
    margin: auto 30%;
    padding: 2%;
}
.errH2{
    text-align: left;
    text-indent: 30%;
    margin: 30px auto;
}

/*===PAGINA RECIPE/ID===*/
div#image-recipe img{
    border-radius: 15px;
    margin-bottom: 3.9%;
}
.recipe-title{
    font-family: var(--font-text-roboto);
    line-height: 40px;
}
.recipe-title h1{
   font-size: 40px; 
}
.recipe-title h2{
    font-size: 20px;
    color: #999999;
}
.recipe-main{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    font-family: var(--font-text-roboto);
    max-width: 980px;
    width: 100%;
    margin: 4vh auto 7vh auto;
    line-height: 24px;
}
.recipe-main .flex-teme{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 20px auto;
}
.recipe-main .flex-teme h2{
    font-size: 30px;
}
.recipe-main .flex-teme h3{
    color: #a8a0a0;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}
.recipe-main li{
    margin-left: 2%;
}
.no-display{
    display: none;
}

/* ===ADMIN=== */
#header-admin{
    box-sizing: border-box;
    max-width: 1400px;
    width: 100%;
    background-color: var(--color-text-primary);
    display: flex;
    text-align: left;
    align-items: center;
    padding: 32px 220px;
}
.card-recipes{
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-text-roboto);
    padding: 0px 220px;
    text-align: left;
}
.card-recipes #grid-recipes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.card-recipes .recipe-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 16px;
}
.card-recipes .recipe-item img{
    width: 180px;
    border-radius: 8px;
}
.card-recipes .details-recipe{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: nowrap;
    line-height: 21px;
}
.card-recipes .details-recipe h3{
    font-weight: 300;
    font-size: 18px;
    color: var(--color-text-primary)
}
.card-recipes .details-recipe h4{
    font-weight: 300;
    font-size: 14px;
    color: #777777
}
.card-recipes .details-recipe a{
    text-decoration: none;
    font-weight: bold;
    color: var(--color-links-primary);
    font-size: 14px;
    line-height: 32px;
}
.card-recipes .form-header{
    display: flex;
    justify-content: space-between;
}
.card-recipes .form-header button[type='submit']{
    background-color: var(--color-links-primary);
    border: none;
    border-radius: 4px;
    font-family: var(--font-text-roboto);
    color: white;
    font-size: 16px;
    height: 36px;
    padding: 8px 20px;
    display: flex;
    text-align: center;
    justify-items: center;
}
.card-recipes form,
.card-recipes form button{
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
}
.form-items{
    margin: 12px 0;
}
.form-items div{
    color: var(--color-text-primary);
}
.form-items input{
    width: 100%;
    height: 40px;
    padding: 4px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}
.form-items:last-child input{
    min-height: 230px;
}
.card-recipes form button{
    text-decoration: none;
    background: none;
    border: none;
    color: var(--color-links-primary);
    cursor: pointer;
}

/*===RODAPE===*/
footer{
    width: 100%;
    max-width: 1350px;
    margin-top: 15vh;
}
footer h3{
    background: #eeeeee;
    color: #999999;
    font-size: 14px;
    font-family: 'Roboto-Regular', sans-serif;
    padding: 23px;
}