{% extends "layout.njk" %}}

{% block head %}
  <title>Foodfy</title>
{% endblock %}

{% block filter %}
  <form action="/recipes/search" method="get" class="form_filter">
    <input type="text" name="filter" value="{{filter}}" placeholder="Nome da receita" class="input_filter">
    <button type="submit" class="button_filter">Procurar</button>
  </form>
{% endblock  %}

{% block content %}
  <main class="artCenter">
    <div class="text">
      <h2 id="titleIndex">As melhores receitas</h2>
      <p id="paragrafoCenter">
        Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
      </p>
    </div>
    <div class="image">
      <img src="/chef.png" alt="chefe Foodfy" id="chef"/>
    </div>
  </main>

  <article class="more-recipes">
    <h2 class="title-more-recipes">Mais acessadas</h2>
    <div class="cards">
      {% for recipe in recipes %}
        <div class="card" id="{{recipe.id}}">
          <div class="image-recipe">
            <img src="{{recipe.src}}"/>
          </div>
          <h3 class="subtitle">{{recipe.title}}</h3>
          <p class="author">por {{recipe.chef_name}}</p>
        </div>
      {% endfor %}
    </div>
  </article>
{% endblock %}