<div class="form-items">
  <div>Imagem da receita</div>
  <div class="form-item-image">
    <div class="photos-upload">
    <label for="photos-input">
      <i class="material-icons">add</i>
    </label>
      <input
        type="file"
        id="photos-input"
        name="photos"
        multiple accept="image/*"
        onchange="PhotosUpload.handleImageInput(event)">
    </div>
    <div id="photos-preview">
      {# {% if files %} #}
        {% for image in files %}
          <div class="photo" id="{{image.id}}">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i
              class="material-icons"
              onclick="PhotosUpload.removeOldPhoto(event)">
              close
            </i>
          </div>
        {% endfor %}
        <input type="hidden" name="removed_files">
      {# {% endif %} #}
    </div>
  </div>
</div>

<div class="form-items">
  <div>Nome da Receita</div>
  <input class="input" type="text" name="title" value="{{recipe.title}}" placeholder=""/>
</div>

<div class="form-items">
  <div>Chef</div>
  <select name="chef">
      <option disabled 
        {% if not chef_id %}
          selected
        {% endif %}>
        Selecione um chef
      </option>
      {% for chef in chefOptions %}
      <option value="{{chef.id}}"
        {% if chef.id == chef_id %}
          selected
        {% endif %} placeholder="Selecione um chef">
        {{chef.name}}
      </option>
      {% endfor %}
  </select>
</div>

<div class="form-items">
  <div>Ingrediente</div>
    <div id="ingredients">
      {% if not recipe.ingredients %}
        <input class="input" type="text" name="ingredients[]" value="">
      {% else %}
        {% for item in recipe.ingredients %}
          <input class="input" type="text" name="ingredients[]" value="{{item}}">
        {% endfor %}
      {% endif %}
    </div>
  <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="form-items">
  <div>Modo de preparo</div>
    <div id="preparations">

      {% if not recipe.preparation %}
        <input class="input" type="text" name="preparation[]" value="">
      {% else %}
        {% for item in recipe.preparation %}
          <input class="input" type="text" name="preparation[]" value="{{item}}">
        {% endfor %}
      {% endif %}

    </div>
  <button type="button" class="add-preparation">Adicionar modo de preparo</button>
</div>

<div class="form-items">
  <div>Informações adicionais</div>
  <textarea id="text-area-last-input" name="information">{{recipe.information}}</textarea>
</div>
