{% extends 'headerAdmin.njk' %}

{% block content %}
  <main class="card-recipes">
    
    <header class="form-header">
      <h2>Gerenciar receitas</h2>
    </header>
    <div id="grid-recipes">
      {% for recipe in recipes %}
        <article class="recipe-item">
          <div class="image-recipe">
            <img src="{{recipe.src}}" alt="{{recipe.title}}">
          </div>
          <div class="details-recipe">
            <h3 id="title-recipe">{{recipe.title}}</h3>
            <h4 id="author-recipe">por {{recipe.chef_name}}</h4>
            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
          </div>
        </article>
      {% endfor %}
    </div>
  </main>
{% endblock %}
