{% extends 'layout.njk' %}

{% block header %}
  <header id="header-admin">
    <div id="logo-foodfy-admin">
      <a href="/">
        <img src="/logo1.png" alt="Logo Foodfy em branco">
      </a>
    </div>
    <a href="/admin/recipes">RECEITAS</a>
    <a href="/admin/chefs">CHEFS</a>
  </header>

{% endblock %}