<script>
  const details = document.querySelectorAll('.details')

  function mostrar(element) {
    if (element == 'Esconder') {
      return true
    }
  }
  function esconder(element) {
    if (element == 'Mostrar') {
      return true
    }
  }
  for (let detail of details) {
    const buttonOption = detail.querySelector('.button')
    const content = detail.querySelector('.content')
    buttonOption.addEventListener('click', () => {
      if(mostrar(buttonOption.innerHTML) == true) {
        buttonOption.innerHTML = "Mostrar"
        content.classList.add('no-display')
      }else if(esconder(buttonOption.innerHTML) == true) {
        buttonOption.innerHTML = "Esconder"
        content.classList.remove('no-display')

      }
    })
  }

</script>